body{
    background-color: #000000
}
h1{
    color: #b2bbbb;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 10vh;
}
h2{
    color: #f8f8f8;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: #f1f1f1;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    color: #00ffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}